 html{
    box-sizing:border-box;
}
*{
 margin:0;
 padding:0;
}
body {
    color: #333;
    background: #fff;
    font: 16px/1.6 "Muli", sans-serif;
    min-width: 320px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    overflow-x: hidden;
  }
  
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Muli", sans-serif;
    font-weight: 400;
    margin: 0 0 20px;
    color: inherit;
  }
  
  h1 {
    font-size: 46px;
  }
  
  h2 {
    font-size: 30px;
  }
  
  h3 {
    font-size: 22px;
  }
  
  h4 {
    font-size: 18px;
  }
  
  h5 {
    font-size: 17px;
  }
  
  h6 {
    font-size: 15px;
  }
  
  p {
    margin: 0 0 15px;
  }
 
  .bg-primary{
    background:#6610f2 !important;
  }
  
  a {
    color: #c6c4c4 !important;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  a:hover,
  a:focus {
    text-decoration: none;
    color:#ffc107 !important;
  }
.active{
  color:#ffc107 !important;
}
.navbar-light{
  background:none !important;
   position:absolute;
  left:0;
  top:0;
  z-index: 9999;
   /* box-shadow: 0 0 8px 5px rgba(0, 0, 0, 0.3); */
  transition:all .5s ease; 
  border-bottom: 1px solid rgba(256,256,1);
  width:100%;


} 
.slideInDown {
  animation-name: slideInDown;
  
}
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}
.block-home .content p{
  text-transform: uppercase;
  color:#ffc107;
}

.section-title{
  display:flex;
  align-items:center;
  justify-content: center;
  position:relative;
  font-weight:500;
}
.section-title span:first-child, .section-title span:last-child{
  position:relative;
  display:inline-block;
  margin-right:30px;
  width:30px;
  height:2px;
  background:#ffc107;
}
.section-title span:first-child::after, .section-title span:last-child::after{
  position:absolute;
  display:inline-block;
  margin-left:30px;
  width:30px;
  height:2px;
  background:#ffc107;
  top:0;
  right:-20px;
  content:"";
}
/* 
#header{
  height:300px;
  background: blue;
    
}  
  .navbar-light{
    background:none !important;
     position:absolute;
    left:0;
    top:0;
    z-index: 9999;
     box-shadow: 0 0 8px 5px rgba(0, 0, 0, 0.3);
    transition:all .5s ease; 
    border-bottom: 1px solid rgba(256,256,1);
    width:100%;
 

 } 
 .hr{
  width:90px;
 }
 
.sticky-top.navbar-light .navbar-brand img {
    max-height: 45px;
}

@media (max-width: 991.98px) {
    .sticky-top.navbar-light {
        position: relative;
        background: #FFFFFF;
    }
}

#header .navbar-brand{
    color:#ffc107;
    font-weight:600;
    height:auto;
    padding:0;
    font-size:22px;
    line-height: 1.6;
    text-transform:uppercase;
}
.slideInDown {
  animation-name: slideInDown;
}
.bg-white {
  color:#fff;
}
.bg-primary{
  background-color: #6222cc !important;
}

element.style {
}
.text-white {
    color: #fff !important;
}
.slideInDown {
    animation-name: slideInDown;
}
.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}
#header .navbar-collapse .navbar-nav{
    flex-grow:0;
}
#header .navbar-collapse .navbar-nav{
    font-size:18px;
    line-height:14px;
}
#header .navbar-collapse a:last-child{
    padding-right:0;
}
#header .navbar-collapse a{
    color: #4d4d4d;
    position: relative;
}
#header .navbar-collapse a:hover ,
#header .navbar-collapse a.active{
    background:none;
    color:#ffc107;
}
#header .navbar-collapse a:hover::before,
#header .navbar-collapse a.active:before {
    right:7px;
    left:8px;
    opacity:1;
}
#header .navbar-collapse a:before{
    content:'';
    background: #ffc107;
    height:1;
    position: absolute;
    bottom:7px;
    left:-20px;
    right:100%;
    transition:all .3s linear;
    -webkit-transition:all .3s linear;
    opacity:0;
  
}



  
 */
